table{
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}
th{
    background-color: lightcoral;
}
td, th{
    border: 1px solid black;
    text-align: left;
    padding: 2px;
}
tr:nth-child(even){
    background-color: lightblue;
}
tr{
    height: 40px;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
}

#editForm {
    width: 300px;
    text-align: right;
}